name: Security audit
on:
  schedule:
    - cron: "0 0 * * *"
  push:
    paths:
      - "**/Cargo.*"
  pull_request:
    branches:
      - main

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          submodules: true

      - name: Audit
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Path
        uses: ./.github

      - name: DockerHub
        uses: docker://alpine:3.8

      - name: DockerRegistry
        uses: docker://gcr.io/cloud-builders/gradle

      - name: GHCR
        uses: docker://ghcr.io/aquasecurity/trivy:latest
