name: Detect schema changes

on:
  schedule:
    # run on the Tue of the second week (8th-14th) of every month, at 3:42AM
    - cron: '42 3 8-14 * 2'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update-submodules:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4.3.1
        with:
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodules
        run: |
          git submodule update --remote --recursive

      - name: Detect changes
        id: diff
        run: |
          changes="$(
            git --no-pager diff --no-color --submodule=diff | {
              grep -E '^diff .*/src/schemas/json/github-(workflow|action).json$' || true
            }
          )"

          if [[ -n "$changes" ]]; then
            echo "There are changes in submodules"
            echo "$changes"
            exit 1
          fi
